#sidebar {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 90px;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 100px;
}

select {
  border-radius: 5px;
  height: 42px;
  width: 80%;
  margin: 0 auto;
}

.search {
width: 85%;
display: flex;
}

.search-input {
  height: 42px;
  width: 85%;
  border-radius: 5px;
  outline: none;
  border: none;
}

.search-button {
  outline: none;
  border: none;
  padding: 10px;
  background-color: #3f51b5;
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  color: #fff;
  font-weight: 700;
  transition-duration: 0.3s;
  cursor: pointer;
}

.search-button:hover {
  background-color: #fff;
  color: #3f51b5;
  border: 1px solid #3f51b5;
}

.price-range-label {
  color: white;
}

.price-range-output {
  color: white;
}
