<nav>
  <div class="nav-left">
    <span
      id="openNav"
      style="font-size: 30px; cursor: pointer"
      (click)="displaySearch()"
      ><mat-icon class="search-icon">search</mat-icon></span
    >
  </div>
  <div class="nav-center">
    <h1 class="logo">MARCO'S ANGULAR E-COMMERCE</h1>
  </div>
  <div class="nav-right">
    <button mat-flat-button class="login-button">
      <mat-icon class="account-icon">account_circle</mat-icon>Login
    </button>
    <button mat-flat-button class="signup-button">
      <mat-icon class="lock-icon">lock</mat-icon>Signup</button>
    <div *ngIf="totalQuantity > 0; then thenBlock; else elseBlock"></div>
    <ng-template #thenBlock>
      <button mat-mini-fab color="primary" (click)="displayStore()">
        <mat-icon style="height: 40px; width: 40px; margin-top: -18%"
          >shopping_cart
        </mat-icon>
        <div class="cart-quantity">{{ totalQuantity }}</div>
      </button>
    </ng-template>
    <ng-template #elseBlock>
      <button mat-mini-fab color="primary" disabled>
        <mat-icon style="height: 40px; width: 40px; margin-top: -18%"
          >shopping_cart
        </mat-icon>
      </button>
    </ng-template>
  </div>
</nav>
